@charset "UTF-8";
/*--------search------*/
/*====== hits ========*/
/*======== body container==========*/
/*=============catalog basket form =======*/
/*==============filter===========*/
/*============ catalog footer =========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #849D8F;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  padding-top: 9px;
  position: relative;
  max-width: 1200px;
  min-height: 62px;
}

.header-top__wrap {
  display: flex;
  justify-content: space-between;
  min-height: 62px;
}

.logo-nav__wrap {
  display: flex;
  justify-content: flex-start;
  min-height: 62px;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

/*=====главная навигация=======*/
.main-nav__list {
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  display: block;
  padding: 20px 18px 20px;
  text-decoration: rgba(255, 255, 255, 0.3) underline solid;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;
  transition-duration: 0.3s;
}

.main-nav__link:active {
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.8);
}

.main-nav__item {
  position: relative;
}

.main-nav__link:hover {
  margin-top: 14px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 8px 16px 8px 16px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
}

.logo {
  position: relative;
  padding: 0;
}

.main-btn {
  color: #ffffff;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(#F26843, #E74A35);
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  transition: 0.4s;
}

.main-btn:hover {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0 2px 2px #AC1000;
}

.main-btn:active {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: inset 0 2px 2px #942718;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
}

/*====логин форма===*/
.login-form {
  position: absolute;
  right: 10px;
  top: 30px;
  width: 277px;
  border-radius: 4px;
  padding: 20px 17px 22px 19px;
  border: rgba(50, 50, 50, 0.2) 1px solid;
  outline: none;
  background-color: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  display: none;
}

.hover-login-link:hover + .login-form {
  display: block;
  z-index: 20;
}

.login-form:hover {
  display: block;
  z-index: 20;
}

.login-form::before {
  position: absolute;
  content: "";
  top: -8px;
  right: 0;
  width: 100%;
  height: 8px;
  background-color: transparent;
  display: block;
}

.login-input {
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #D3D3D2;
}

.login-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  padding-left: 15px;
}

.login-wrap {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  width: 103px;
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.89;
  border-radius: 26px;
}

.login-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  color: #323232;
  text-decoration: underline rgba(0, 0, 0, 0.4) solid;
}

.search-wrap_hover {
  position: absolute;
  display: none;
  top: 36px;
  right: 10px;
  padding: 20px 15px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.search-wrap_hover:hover {
  display: block;
  z-index: 10;
}

.search-wrap_hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left: 0;
  top: -10px;
  background-color: transparent;
  z-index: 10;
}

.search-input {
  width: 310px;
  height: 44px;
  border: rgba(50, 50, 50, 0.2) 1px solid;
  border-radius: 4px;
  padding-left: 15px;
}

.search-input:hover {
  border: rgba(50, 50, 50, 0.5) 1px solid;
}

.search-input:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
  /* не делается другим цветом фокус*/
}

.header-search__link:hover + .search-wrap_hover {
  display: block;
  z-index: 10;
}

.search-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

/*======== каталог подменю ========*/
.main-nav__link:hover + .catalog-submenu {
  display: block;
  z-index: 20;
  transition-duration: 0.3s;
}

.catalog-submenu:hover {
  display: block;
  z-index: 20;
}

.catalog-submenu {
  position: absolute;
  top: 55px;
  background-color: #ffffff;
  border-radius: 4px;
  width: 143px;
  height: 171px;
  display: none;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.catalog-submenu__title {
  color: #323232;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  padding: 13px 64px 13px 21px;
  border-bottom: rgba(50, 50, 50, 0.2) 1px solid;
}
.catalog-submenu__link {
  display: block;
  color: #323232;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  padding-left: 21px;
  padding-top: 9px;
  padding-bottom: 7px;
}
.catalog-submenu__link:hover {
  background-color: #FBDED7;
}
.catalog-submenu :last-child :hover {
  border-radius: 0 0 4px 4px;
  padding-bottom: 9px;
}
.catalog-submenu__link:active {
  background-color: #F6B5A5;
}

.catalog-submenu::before {
  position: absolute;
  content: "";
  top: -16px;
  width: 100%;
  height: 25px;
  background-color: transparent;
  display: block;
}

/* ====== поиск ==== */
.search-user__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-search__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
}

.header-search {
  position: relative;
}

.header-search:hover path {
  fill: #000000;
}

/*===== пользовательское навигация =====*/
.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
}
.user-navigation__item {
  position: relative;
}
.user-navigation__login-icon, .user-navigation__basket-icon {
  position: absolute;
  left: 16px;
}

.user-navigation__link {
  padding: 8px 16px 8px 45px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  transition-duration: 0.3s;
}

.user-navigation__link:last-child {
  margin: 0;
}

.user-navigation__link:hover path {
  fill: #323232;
}

.user-navigation__link:hover {
  color: #323232;
  background-color: #ffffff;
}

.time-phone__wrap {
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.work-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  margin-bottom: 8px;
}

.header-phone {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 0.92;
}

.slider__section {
  position: relative;
}

.slider__title {
  position: absolute;
  max-width: 672px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  margin: 0 auto;
  padding-bottom: 26px;
  text-align: center;
  z-index: 5;
  left: 0;
  right: 0;
  top: 420px;
}

.buy-two__button {
  position: absolute;
  display: block;
  margin: 0 auto 26px;
  font-size: 32px;
  line-height: 1.4;
  padding: 9px 23px;
  border-radius: 50px;
  z-index: 5;
  bottom: 50px;
  left: 0;
  right: 0;
}

.slider__img_1 {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25px;
}

.slider__img_2 {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25px;
}

.slider__img_3 {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25px;
}

.slider-control__list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 63px;
}

.slider-control__button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border-radius: 50%;
  border: #ffffff 2px solid;
  margin-right: 8px;
  outline: none;
}

.slider-control__list:last-child {
  margin-right: 0;
}

.control__current {
  background-color: white;
}

.slider-control__button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.features__wrap {
  max-width: 560px;
  border-radius: 16px;
  padding: 16px 22px 16px 22px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  z-index: 1;
  margin-top: -70px;
}
.features__wrap .features__title {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 35px;
  line-height: 1.17;
  font-weight: 700;
}
.features__wrap .features__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 42px;
}
.features__wrap .features__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 22px 15px;
  border-radius: 70px;
  display: block;
  margin-left: auto;
}

.raspberry-jam__wrap {
  background-image: url("../images/features/background-raspbery.jpg");
}

.chocolate__wrap {
  background-image: url("../images/features/background-chokolate.jpg");
}

.hits__list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.first-item {
  padding-left: 0;
}

.last-item {
  padding-right: 0;
}

.hits-card {
  position: relative;
  box-sizing: border-box;
  max-width: 293px;
}

.hits-card:before {
  display: block;
  position: absolute;
  content: "";
  width: 33px;
  height: 27px;
  background-image: url("../images/hits/icon-hit.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  padding: 17px 14px;
  border-radius: 50%;
  z-index: 20;
}

.hits__image {
  display: block;
  margin: 0 auto;
}

.price {
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  top: 216px;
}

.price__span {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
}

.hits__link {
  display: block;
  width: 245px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  text-decoration: rgba(255, 255, 255, 0.3) underline solid;
  margin: 0 auto;
}

.hits__link:hover,
.hits__link:active {
  color: #FFBC9E;
  text-decoration: rgba(255, 188, 158, 0.5) solid underline;
}

.hits__button {
  position: absolute;
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  padding: 12px 16px;
  border-radius: 50px;
  left: 0;
  right: 0;
  margin: 0 auto 21px;
  z-index: 20;
}

.hits-wrap {
  width: 285px;
  position: relative;
  z-index: 0;
  padding-bottom: 18px;
  transition: 0.3s;
}

.hits-wrap::after {
  content: "";
  position: absolute;
  height: 65px;
  width: 100%;
  bottom: -65px;
  display: none;
  z-index: 0;
}

.hits-wrap:hover::after {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 0;
}

.hits-wrap:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.hits-wrap:hover + .hits__button {
  display: block;
}

.hits__button:hover {
  position: absolute;
  display: block;
  z-index: 20;
}

.description {
  border-radius: 16px;
  margin-top: 16px;
}

.description__article {
  padding-top: 24px;
  border-radius: 16px;
  background-image: url("../images/description/wafer-background.jpg");
  min-height: 306px;
  background-repeat: no-repeat;
  background-color: #849D8F;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding-right: 23px;
  padding-left: 23px;
}

.description__article_title {
  color: #323232;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 21px;
}

.description__text {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #323232;
  margin-bottom: 33px;
  max-width: 484px;
  margin-left: 52px;
}

.description__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description__list:nth-child(3) {
  /*не работают чаилды*/
}

.text-ice-cream::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -56px;
  width: 49px;
  height: 49px;
  background-image: url("../images/description/ice-cream.png");
  background-repeat: no-repeat;
  border: #323232 1px solid;
  border-radius: 50%;
  background-position: center;
}

.text-list::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -56px;
  width: 49px;
  height: 49px;
  background-image: url("../images/description/list.png");
  background-repeat: no-repeat;
  border: #323232 1px solid;
  border-radius: 50%;
  background-position: center;
}

.text-cow::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -56px;
  width: 49px;
  height: 49px;
  background-image: url("../images/description/cow.png");
  background-repeat: no-repeat;
  border: #323232 1px solid;
  border-radius: 50%;
  background-position: center;
}

.text-delivery::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -56px;
  width: 49px;
  height: 49px;
  background-image: url("../images/description/thermometer.png");
  background-repeat: no-repeat;
  border: #323232 1px solid;
  border-radius: 50%;
  background-position: center;
}

.description__item {
  position: relative;
}

.text-list,
.text-delivery {
  margin-bottom: 0;
}

.body__container_first {
  background-color: #849D8F;
  position: relative;
  z-index: 20;
}

.body__container_first::before {
  content: "";
  position: absolute;
  height: 716px;
  max-width: 716px;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  border: red 5px solid;
  background-color: rgba(215, 242, 227, 0.75);
  filter: blur(250px);
}

.body__container_second {
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.body__container_second::before {
  content: "";
  position: absolute;
  height: 716px;
  max-width: 716px;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  border: red 5px solid;
  background-color: rgba(218, 228, 239, 0.75);
  filter: blur(250px);
}

.body__container_third {
  background-color: transparent;
  position: relative;
}

.body__container_third::before {
  content: "";
  position: absolute;
  height: 716px;
  max-width: 716px;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  border: red 5px solid;
  background-color: rgba(239, 224, 218, 0.75);
  filter: blur(250px);
}

.new-in-blog {
  width: 560px;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 23px 20px 0 20px;
  background-image: url("../images/new-in-blog/raspbery.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0;
}

.new-in-blog__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: #323232;
  margin-bottom: 15px;
}

.new-in-blog__link {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: #323232;
  width: 287px;
}

.news-and-subscription {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  flex-wrap: wrap;
}

.subscription {
  max-width: 560px;
  background-image: url("../images/subscription/post-background.png");
  padding: 6px;
  border-radius: 16px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0;
}

.subscription__wrap {
  background-color: #ffffff;
  border-radius: 16px;
  padding-top: 27px;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
}

.subscription__text {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 30px;
}

.subscription__input {
  max-width: 368px;
  height: 44px;
  border-radius: 6px;
  outline: none;
  margin-right: 5px;
}

.subscription__button {
  height: 44px;
  width: 130px;
  border-radius: 70px;
  margin-bottom: 35px;
}

.feedback {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 30px 25px 30px 25px;
  bottom: 50px;
  right: 80px;
  z-index: 20;
}

.feedback__title {
  max-width: 155px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: #323232;
  margin-bottom: 20px;
}

.feedback__text {
  max-width: 225px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #323232;
  margin-bottom: 30px;
  text-align: center;
}

.feedback__title_phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: #323232;
  margin-bottom: 11px;
}

.feedback__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #323232;
}

.feedback-work-time {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: #323232;
  margin-bottom: 31px;
}

.feedback__button {
  display: block;
  height: 43px;
  width: 253px;
  border-radius: 70px;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 36px 27px 25px 29px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer-wrap::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -22px;
  width: 15px;
  height: 13px;
  background-image: url("../images/footer/heart.svg");
}

.footer-wrap__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  color: #ffffff;
  margin-right: 31px;
  text-decoration: rgba(255, 255, 255, 0.3) underline solid;
}

.footer-wrap__link:hover,
.footer-wrap__link:active {
  color: #FFBC9E;
  text-decoration: #FFBC9E underline solid;
}

.copyright__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

.copyright__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: rgba(255, 255, 255, 0.3) underline solid;
}

.copyright__link:hover,
.copyright__link:active {
  color: #FFBC9E;
  text-decoration: #FFBC9E underline solid;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__item {
  margin-right: 12px;
}

.social__link:hover path {
  fill-opacity: 1;
}

.modal__form {
  height: 441px;
  max-width: 477px;
  background-color: #F8F7F4;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 6px;
  padding-top: 20px;
  padding-left: 24px;
  z-index: 20;
}

.modal__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: #323232;
}

.modal__input {
  height: 44px;
  width: 267px;
  border-radius: 4px;
  border: rgba(178, 178, 178, 0.52) 1px solid;
  box-sizing: border-box;
  padding-left: 14px;
  margin-bottom: 20px;
}

.modal__textarea {
  height: 154px;
  width: 428px;
  border-radius: 4px;
  border: rgba(178, 178, 178, 0.52) 1px solid;
  padding-left: 14px;
  padding-top: 16px;
  margin-bottom: 25px;
}

.modal__button {
  height: 44px;
  width: 140px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.34;
  box-sizing: border-box;
  padding: 10px 24px 10px 24px;
  border-radius: 70px;
  margin-left: 300px;
}

.modal-close::before {
  content: "";
  top: 15px;
  position: absolute;
  height: 22px;
  width: 1px;
  transform: rotate(45deg);
  background-color: #323232;
  border: transparent 4px solid;
}

.modal-close::after {
  content: "";
  top: 15px;
  position: absolute;
  height: 22px;
  width: 1px;
  transform: rotate(-45deg);
  background-color: #323232;
  border: transparent 4px solid;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Лента слайдов */
.slick-track {
  height: 700px;
}

/* Слайд */
.slick-slide {
  position: relative;
  outline: none;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  visibility: hidden;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  position: absolute;
}

/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 120px;
}

.slick-dots li {
  list-style: none;
  margin-right: 8px;
}

/* Активная точка */
.slick-dots li.slick-active {
  background-color: #ffffff;
  border-radius: 50%;
}

/* Элемент точки */
.slick-dots li button {
  color: transparent;
  background-color: transparent;
  border: 2px #ffffff solid;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1155px) {
  .burger-menu__wrap {
    display: none;
  }
}
@media (max-width: 1155px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slick-track {
    height: 610px;
  }

  .slider__title {
    top: 340px;
  }

  .buy-two__button {
    bottom: 25px;
  }

  .features__wrap {
    margin: 0 auto 20px auto;
    max-width: 455px;
  }

  .features__wrap .features__text {
    margin-bottom: 10px;
  }

  .raspberry-jam__wrap {
    margin-right: 10px;
  }

  .hits__list {
    max-width: 700px;
    margin: 0 auto;
  }

  .description__article {
    max-width: 850px;
    margin: 0 auto 30px auto;
    min-height: 500px;
    background-image: url("../images/description/bg1155-1024.jpg");
  }

  .description__list {
    justify-content: center;
  }

  .description__article_title {
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .description__text {
    max-width: 600px;
    margin-bottom: 25px;
  }

  .feedback {
    bottom: 100px;
  }

  .new-in-blog {
    min-height: 216px;
    margin-bottom: 25px;
    margin-left: 50px;
  }

  .subscription {
    margin-left: 50px;
  }

  .map__iframe {
    display: none;
  }

  .burger-menu__wrap {
    display: none;
  }
}
@media (max-width: 1024px) {
  .logo {
    position: absolute;
    top: 60px;
    left: 55%;
    transform: translate(-50%);
  }

  .burger-menu__wrap {
    display: none;
  }

  .features {
    min-width: 364px;
    margin-bottom: 20px;
  }
  .features .features__wrap {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .features .features__title {
    margin-bottom: 10px;
  }
  .features .features__text {
    margin-bottom: 5px;
  }
  .features .features__button {
    margin-bottom: 10px;
  }

  .news-and-subscription {
    padding-bottom: 0;
    width: 50%;
    margin-left: 0;
  }

  .new-in-blog {
    display: none;
    margin: 0 auto 20px 0;
    max-width: 400px;
    background-position-y: 100%;
  }

  .subscription {
    margin: 0 auto 20px 95px;
    max-width: 330px;
    background-size: cover;
  }
  .subscription .subscription__form {
    padding-bottom: 20px;
  }
  .subscription .subscription__input {
    display: block;
    margin: 0 auto 10px auto;
    padding-left: 15px;
  }
  .subscription .subscription__button {
    display: block;
    margin: 0 auto;
  }

  .feedback {
    right: 110px;
    bottom: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .feedback .feedback__title {
    margin-bottom: 15px;
  }
  .feedback .feedback__text {
    margin-bottom: 15px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-wrap::before {
    display: none;
  }

  .social__list {
    display: flex;
    justify-content: center;
  }

  .footer-wrap {
    justify-content: center;
  }

  .copyright {
    display: block;
    text-align: center;
  }
}
@media (max-width: 860px) {
  .subscription {
    margin-left: 35px;
  }

  .feedback {
    right: 50px;
  }
}
@media (max-width: 767px) {
  /*-------бургер кнопkа----------*/
  .burger__wrap_left {
    display: block;
    position: fixed;
    width: 27px;
    height: 20px;
    top: 18px;
    z-index: 1000;
  }

  .burger__span_left {
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    top: 9px;
    left: 0;
    width: 100%;
    transition: all 0.2s ease 0s;
  }

  .burger__wrap_left::before,
.burger__wrap_left::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .burger__wrap_left::before {
    top: 0;
  }

  .burger__wrap_left::after {
    bottom: 0;
  }

  .burger__span_left.active {
    transform: scale(0);
  }

  .burger__wrap_left.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger__wrap_left.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-top__wrap {
    display: block;
  }

  .main-nav {
    display: none;
  }

  /*----------- бургер меню -------*/
  .burger-menu__wrap {
    display: block;
    background-color: rgba(68, 68, 68, 0.86);
    max-width: 200px;
    text-align: center;
    top: -300px;
    position: fixed;
    border-radius: 2px;
  }

  .burger__item .burger__link {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .burger__item .burger__link:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    margin-top: 0;
  }

  .burger__item .burger__link_catalog {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .burger__item .burger__link_catalog:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    margin-top: 0;
  }

  .burger__link_about {
    padding-top: 12px;
    padding-bottom: 24px;
  }

  .search-user__wrap {
    display: none;
  }

  .burger__list_left {
    display: block;
    background-color: #8080803b;
    max-width: 200px;
    text-align: center;
  }

  .burger__item {
    border-top: #5a5a5a 1px solid;
  }

  .header-search {
    display: block;
    text-align: left;
  }

  .header-search a {
    display: block;
    padding: 10px 160px 30px 40px;
    margin: 0;
    text-decoration: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: #5a5a5a 1px solid;
    border-top: #5a5a5a 1px solid;
  }

  .burger-search__link:hover {
    background-color: #ffffff;
    color: #323232;
  }

  .burger-search__link::after {
    position: absolute;
    content: "Поиск";
    color: #ffffff;
    top: 10px;
    left: 65px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
  }

  .header-search a:hover::after {
    background-color: #ffffff;
    color: #323232;
  }

  .search-wrap_hover {
    right: -190px;
    top: 50px;
  }

  .user-navigation {
    display: block;
    min-height: 50px;
    box-sizing: border-box;
  }

  .user-navigation__link {
    display: block;
    background-color: transparent;
    padding-top: 12px;
    padding-right: 45px;
    padding-bottom: 12px;
    position: relative;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
    border-bottom: #5a5a5a 1px solid;
  }

  .user-navigation__item .hover-login-link {
    margin-right: 0;
  }

  .user-navigation__basket-icon,
.user-navigation__login-icon {
    left: 40px;
  }

  .time-phone__wrap {
    top: 40px;
  }

  .burger-menu__wrap.active {
    top: 50px;
    z-index: 1000;
  }

  .logo {
    left: 50%;
    top: 0;
  }

  /*------ субменю ----------*/
  .catalog-submenu {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  /*---------форма логина-------*/
  .login-form {
    left: 30px;
  }

  .time-phone__wrap {
    top: 15px;
  }

  .work-time {
    font-weight: 500;
    top: 15px;
  }

  .header-phone {
    font-size: 16px;
  }

  /*-------слaйдер--------*/
  .slider__title {
    font-weight: 500;
    font-size: 50px;
    max-width: 335px;
  }

  .slick-dots {
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
  }

  .slick-dots li {
    margin-right: 50px;
  }

  .slick-dots li:last-child {
    margin-right: 0;
  }

  .slick-dots li button {
    width: 30px;
    height: 30px;
    border: 4px #ffffff solid;
  }

  .by-two__button {
    bottom: -30px;
  }

  .description__article {
    display: none;
  }

  /*----------features---------*/
  .features__list {
    flex-wrap: wrap;
  }

  .features .features__wrap {
    margin: 0 auto 20px auto;
  }

  .hits-card {
    margin: 0 auto 65px;
  }

  .news-and-subscription {
    width: 100%;
  }

  /*---------подписаться---------*/
  .subscription {
    display: block;
    position: relative;
    margin: 0 auto 20px auto;
    right: 0;
  }

  .feedback {
    position: static;
    margin: 0 auto;
  }

  .modal__form {
    max-width: 450px;
    padding-right: 40px;
  }

  .modal__textarea {
    width: 100%;
  }

  .modal__button {
    margin: 0 auto;
    display: block;
  }

  .modal-close::after,
.modal-close::before {
    right: 15px;
    top: 0;
  }
}
@media (max-width: 400px) {
  .slider__title {
    font-size: 40px;
    top: 280px;
  }

  .buy-two__button {
    bottom: 40px;
  }

  .slick-dots {
    bottom: 30px;
  }

  .time-phone__wrap {
    top: 80px;
  }

  .modal__form {
    max-width: 250px;
  }

  .features {
    display: none;
  }

  .subscription__wrap {
    padding-left: 5px;
    padding-right: 5px;
  }

  .feedback {
    padding-right: 5px;
    padding-left: 5px;
  }

  .footer .footer-wrap {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-wrap__list {
    text-align: center;
  }
}
.catalog-main-nav-link:hover {
  background-color: #FF0000;
}

/*---------корзина в каталоге -------*/
.catalog__basket-icon {
  position: absolute;
  left: 16px;
}

.catalog-user-nav__link:hover .catalog-basket__path {
  fill: #FF0000;
}

.catalog__basket-icon:hover .catalog-basket__path {
  fill: #FF0000;
}

.catalog-basket__form {
  display: none;
  position: absolute;
  right: 10px;
  top: 35px;
  width: 485px;
  height: 200px;
  background-color: #ffffff;
  padding: 20px 14px 21px 40px;
  border-radius: 4px;
}

.purchased__list {
  border-bottom: #CACAC7 1px solid;
  margin-bottom: 23px;
}

.purchased__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.purchased__img {
  width: 33px;
  height: 33px;
  margin-right: 13px;
}

.purchased__text_orange::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  left: -70px;
  top: 7px;
  background-color: black;
  transform: rotate(45deg);
}

.purchased__text_orange::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  left: -70px;
  top: 7px;
  background-color: black;
  transform: rotate(-45deg);
}

.purchased__text_strawberry::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  left: -70px;
  top: 13px;
  background-color: black;
  transform: rotate(45deg);
}

.purchased__text_strawberry::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  left: -70px;
  top: 13px;
  background-color: black;
  transform: rotate(-45deg);
}

.purchased__text {
  position: relative;
  max-width: 216px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: #323232;
  margin-right: 31px;
}

.purchased__text_quantity {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: #000000;
  margin-right: 26px;
}

.basket-item-price__span {
  color: #C4C4C4;
}

.purchased-price__span {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: #323232;
  margin-right: 20px;
}

.purchased-total__text {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.06px;
  color: #323232;
  text-align: right;
}

.purchased-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  padding: 13px 15px;
  border-radius: 32px;
  position: absolute;
  right: 14px;
  top: 175px;
}

.catalog-user-nav__link:hover + .catalog-basket__form {
  display: block;
  z-index: 10;
}

.catalog-basket__form:hover {
  display: block;
}

.catalog-basket__form::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  background-color: transparent;
  z-index: 15;
  top: -10px;
}

.bread-crumbs__link {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-decoration: rgba(255, 255, 255, 0.3) underline solid;
  margin-right: 22px;
}

.bread-crumbs__link::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-image: url("../images/bread-crambs/bread-crambs.svg");
  top: 6px;
  right: -17px;
}

.bread-crumbs__link:last-child::after {
  display: none;
}

/*====== filter title ======*/
.filter-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 30px;
}

/*========sorting========*/
.sorting__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 870px;
}

.sorting__select {
  width: 196px;
  height: 36px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 10px 10px 16px;
  border-radius: 40px;
  box-sizing: border-box;
  border: none;
}

.sorting__select:focus {
  outline: none;
  background-color: #ffffff;
  color: #323232;
}

.sorting__option {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  background-color: #ffffff;
}

/*=====price-range====*/
.price-range {
  position: relative;
  width: 218px;
  height: 36px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
}

.price-scale__wrap {
  position: absolute;
  width: 176px;
  height: 2px;
  top: 17px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

.price-bar__wrap {
  position: absolute;
  width: 106px;
  height: 2px;
  background-color: #ffffff;
  margin-left: 21px;
}

.toggle {
  position: absolute;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ABABAB;
  border: #ffffff 8px solid;
}

.toggle-min {
  left: 35px;
}

.toggle-max {
  left: 130px;
}

.toggle:hover {
  border: #ffffff 9px solid;
}

/*========fat content=======*/
.fat-content__list {
  position: relative;
  height: 36px;
  width: 425px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-left: 14px;
  padding-right: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.fat-content__input + .fat-content__label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0.5) 4px solid;
  border-radius: 50%;
  bottom: -4px;
  left: 0;
  cursor: pointer;
}

.fat-content__input:hover + .fat-content__label::before {
  border: #ffffff 4px solid;
}

.fat-content__input:disabled + .fat-content__label::before {
  border: rgba(255, 255, 255, 0.2) 4px solid;
}

.fat-content__input:checked + .fat-content__label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  bottom: 5px;
  left: 9px;
}

.fat-content__input:checked:hover + .fat-content__label::after {
  background-color: #ffffff;
}

.fat-content__label {
  position: relative;
  padding-left: 30px;
}

/*==========fillers======*/
.fillers__list {
  position: relative;
  height: 36px;
  width: 711px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-left: 14px;
  padding-right: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.fillers__input + .fillers__label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -1px;
  left: 5px;
  background-image: url("../images/filter/marker-reg.svg");
}

.fillers__input:checked + .fillers__label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  bottom: -2px;
  left: 5px;
  background-image: url("../images/filter/marker.svg");
}

.fillers__label {
  position: relative;
  padding-left: 33px;
}

/*===========sorting button=========*/
.sorting__button {
  height: 36px;
  width: 144px;
  border-radius: 40px;
  border: #ffffff 2px solid;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 25px;
}

.sorting__button:active,
.sorting__button:hover {
  background-color: #ffffff;
  color: #323232;
}

.sorting__fieldset,
.price__fieldset,
.fat__fieldset,
.fillers__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 11px;
}

.legend {
  display: block;
  margin-bottom: 7px;
  margin-top: 11px;
}

.filter {
  margin-bottom: 34px;
}

.catalog-card {
  margin-bottom: 40px;
}

.catalog-pagination__section {
  width: 300px;
  position: absolute;
  right: 60px;
  bottom: 140px;
}

.pagination__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.11px;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
}

.pagination__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__link:active {
  background-color: #ffffff;
  color: #323232;
}

.pagination__link:hover:last-child,
.pagination__link:hover:first-child {
  background-color: transparent;
}

.pagination-disabled {
  background-color: #ffffff;
  color: #323232;
}

.catalog-footer {
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}

.catalog-card__section {
  padding-bottom: 96px;
}

/*# sourceMappingURL=main.css.map */
