

$shadow-oval-btn: 0 -2px 2px rgba(0,0,0,0.8);
$text-decoration-color: rgba(255, 255, 255, 0.3);
$main-font: Roboto, Arial, sans-serif;
$color-main: #ffffff;
$color-main-menu-hover: #000000;
$color-main-black: #323232;
$color-border: rgba(50, 50, 50, 0.2);
$color-submenu-hover: #FBDED7;
$color-submenu-active: #F6B5A5;
$shadow-catalog-submenu: 0px 20px 20px rgba(0, 0, 0, 0.4);
$background-header-login__form: #F8F7F4;
$border-login-input: 1px solid #D3D3D2;
$shadow-login-form: 0px 20px 20px rgba(0, 0, 0, 0.4);
$shadow-color-main-btn-hov-act: 0px 2px 5px rgba(160, 32, 11, 0.76);
$shadow-main-btn: 0 2px 2px rgba(172, 16, 0, 0.64);
$shadow-main-btn-active: inset 0 2px 2px #942718;
$text-decoration-color-black-link: rgba(0, 0, 0, 0.4);
$background-slider-control-hover: rgba(255, 255, 255, 0.4);
$color-main-font: #5a5a5a;
$color-link-hover: #FFBC9E;
$background_modal__form: #F8F7F4;
$modal-border: rgba(178, 178, 178, 0.52);

/*====== hits ========*/
$background-hits-wrap-hover: rgba(255, 255, 255, 0.5);

/*======== body container==========*/

$background-main-container-first: #849D8F;
$background-main-container-second: #8996A6;
$background-main-container-third: #9D8B84;
