.catalog-pagination__section{
  width: 300px;
  position: absolute;
  right: 60px;
  bottom: 140px;

}

.pagination__link{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.11px;
  color: $color-main;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
}
.pagination__link:hover{
  background-color:$border-catalog-footer ;
}

.pagination__link:active{
  background-color:$color-main;
  color: $color-main-black;
}

.pagination__link:hover:last-child,
.pagination__link:hover:first-child{
  background-color: transparent;
}

.pagination-disabled{
  background-color: $color-main;
  color: $color-main-black;
}
