.feedback {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  border-radius: 16px;
  background-color: $color-main;
  padding: 30px 25px 30px 25px;
  bottom: 50px;
  right: 80px;
  z-index: 20;
}

.feedback__title{
  max-width: 155px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-main-black;
  margin-bottom: 20px;

}

.feedback__text{
  max-width: 225px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: $color-main-black;
  margin-bottom: 30px;
  text-align: center;
}

.feedback__title_phone{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-main-black;
  margin-bottom: 11px;

}

.feedback__link{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: $color-main-black;
}

.feedback-work-time{
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-main-black;
  margin-bottom: 31px;
}

.feedback__button{
  display: block;
  height: 43px;
  width: 253px;
  border-radius: 70px;
  color:$color-main;
}
