.feedback{
  height: 306px;
  width: 300px;
  border-radius: 16px;
  background-color: $color-main;
  padding-top: 32px;
  padding-left: 25px;
  position: absolute;
  bottom: -1600px;
  right: 127px;
}

.feedback::before{
  position: absolute;
  content: "";
  width: 80px;
  top: 140px;
  left: -550px;
  height: 140px;
  background-image: url("../images/map/marker.svg");
}


.feedback__title{
  width: 155px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-main-black;
  margin-bottom: 8px;
}

.feedback__text{

  width: 225px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: $color-main-black;
  margin-bottom: 30px;

}

.feedback__title_phone{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-main-black;
  margin-bottom: 11px;
}

.feedback__link{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: $color-main-black;
}

.work-time{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-main-black;
  margin-bottom: 31px;
}

.feedback__button{
  display: block;
  height: 43px;
  width: 253px;
  border-radius: 70px;
  color:$color-main;
  margin-left: 10px;
}
