.main-header {
  padding-top: 9px;
  position: relative;
  max-width: 1200px;
  min-height: 62px;
}

.header-top__wrap {
  display: flex;
  justify-content: space-between;
  min-height: 62px;
}

.logo-nav__wrap{
  display: flex;
  justify-content: flex-start;
  min-height: 62px;
}





