.hits__list{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.first-item{
  padding-left: 0;
}

.last-item{
  padding-right: 0;
}

.hits-card{
  position: relative;
  box-sizing: border-box;
  max-width: 293px;
}

.hits-card:before{
  display: block;
  position: absolute;
  content: "";
  width: 33px;
  height: 27px;
  background-image: url("../images/hits/icon-hit.svg");
  background-color: $color-main;
  background-repeat: no-repeat;
  background-position: center;
  padding: 17px 14px;
  border-radius: 50%;
  z-index: 20;
}

.hits__image{
  display: block;
  margin: 0 auto;
}

.price{
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  top: 216px;
}

.price__span{
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
}

.hits__link{
  display: block;
  width: 267px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: $color-main;
  text-decoration: $text-decoration-color underline solid;

}

.hits__button{
  position: absolute;
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  padding: 12px 16px;
  border-radius: 50px;
  left: 0;
  right: 0;
  margin: 0 auto 21px;
  z-index: 20;
}

.hits-wrap{
  width: 285px;
  position: relative;
  z-index: 0;
  padding-bottom: 18px;
  transition: .30s;
}

.hits-wrap::after{
  content: "";
  position: absolute;
  height: 65px;
  width: 100%;
  bottom: -65px;
  display: none;
  z-index: 0;
}

.hits-wrap:hover::after{
  display: block;
  background-color: $text-decoration-color;
  position: absolute;
  z-index: 0;
}

.hits-wrap:hover{
  background-color: $text-decoration-color;
}

.hits-wrap:hover + .hits__button{
  display: block;

}

.hits__button:hover{
  position: absolute;
  display: block;
  z-index: 20;
}


