.new-in-blog{
  width: 560px;
  border-radius: 16px;
  background-color: $color-main;
  padding: 23px 20px 0 20px;
  background-image: url("../images/new-in-blog/raspbery.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0;
}

.new-in-blog__title{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: $color-main-black;
  margin-bottom: 15px;
}

.new-in-blog__link{
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: $color-main-black;
  width: 287px;
}
.news-and-subscription{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  flex-wrap: wrap;

}
