.slider__section{
  position: relative;
}

.slider__title{
  position: absolute;
  max-width: 672px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  margin: 0 auto;
  padding-bottom: 26px;
  text-align: center;
  z-index: 5;
  left: 0;
  right: 0;
  top: 420px;
}

.buy-two__button{
  position: absolute;
  display: block;
  margin: 0 auto 26px;
  font-size: 32px;
  line-height: 1.4;
  padding: 9px 23px;
  border-radius: 50px;
  z-index: 5;
  bottom: 50px;
  left: 0;
  right: 0;
}

.slider__img_1{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25px;
}

.slider__img_2{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25px;
}

.slider__img_3{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25px;
}




