.slider__section{
  padding-top: 130px;

}

.slider__title{
  position: relative;
  max-width: 672px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  margin: 0 auto;
  padding-bottom: 26px;
  text-align: center;
  z-index: 5;
}

.buy-two__button{
  position: relative;
  display: block;
  margin: 0 auto 26px;
  font-size: 32px;
  line-height: 1.4;
  padding: 9px 23px;
  border-radius: 70px;
  z-index: 5;
}

.slider__img_1{
position: absolute;
left: 350px;
  top: 73px;
}

.slider__img_2{
  position: absolute;
  top: 125px;
  left: 670px;
}

.slider__img_3{
  position: absolute;
  left: 350px;
  top: 73px;
}

.slider__img_4{
  position: absolute;
  top: 125px;
  left: 670px;
}

.slider__img_5{
  position: absolute;
  left: 350px;
  top: 73px;

}

.slider__img_6{
  position: absolute;
  top: 125px;
  left: 670px;

}

