.subscription{
  max-width: 560px;
  background-image: url("../images/subscription/post-background.png");
  padding: 6px;
  border-radius: 16px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0;
}

.subscription__wrap{
  background-color: $color-main;
  border-radius: 16px;
  padding-top: 27px;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
}

.subscription__text{
  color: $color-main-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 30px;
}

.subscription__input{
  max-width: 368px;
  height: 44px;
  border-radius: 6px;
  outline: none;
  margin-right: 5px;
}

.subscription__button{
  height: 44px;
  width: 130px;
  border-radius: 70px;
  margin-bottom: 35px;
}




