/*======== каталог подменю ========*/

.main-nav__link:hover + .catalog-submenu {
  display: block;
  z-index: 20;
  transition-duration: .3s;
}

.catalog-submenu:hover {
  display: block;
  z-index: 20;
}

.catalog-submenu {
  position: absolute;
  top: 55px;
  background-color: $color-main;
  border-radius: 4px;
  width: 143px;
  height: 171px;
  display: none;
  box-shadow: $shadow-catalog-submenu;


  &__title {
    color: $color-main-black;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    padding: 13px 64px 13px 21px;
    border-bottom: $color-border 1px solid;

  }

  &__link {
    display: block;
    color: $color-main-black;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    padding-left: 21px;
    padding-top: 9px;
    padding-bottom: 7px;
  }

  &__link:hover {
    background-color: $color-submenu-hover;
  }

  & :last-child :hover {
    border-radius: 0 0 4px 4px;
    padding-bottom: 9px;
  }

  &__link:active {
    background-color: $color-submenu-active;
  }

}

.catalog-submenu::before {
  position: absolute;
  content: "";
  top: -6px;
  width: 100%;
  height: 7px;
  background-color: transparent;
  display: block;
}
