.search-wrap_hover {
  position: absolute;
  top: 36px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  background-color: $color-main;
  border-radius: 4px;
  box-shadow: $shadow-catalog-submenu;
  z-index: -1;
}

.search-wrap_hover:hover{
  z-index: 10;
}

.search-wrap_hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  background-color: transparent;
  top: -15px;
}

.search-input {
  width: 310px;
  height: 44px;
  border: $color-border 1px solid;
  border-radius: 4px;
  padding-left: 15px;
}

.header-search__link:hover + .search-wrap_hover{
  z-index: 10;
}

.search-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

}
